<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="sample-suite" verbose="1" parallel="tests" thread-count="3">
    <test name="UserCreationGoogle">
        <parameter name="engine" value="google" />
        <classes>
            <class name="com.sample.app.AppTest"/>
        </classes>
    </test>
    <test name="UserCreationBing">
        <parameter name="engine" value="bing" />
        <classes>
            <class name="com.sample.app.AppTest"/>
        </classes>
    </test>
    <test name="UserCreationYahoo">
        <parameter name="engine" value="yahoo" />
        <classes>
            <class name="com.sample.app.AppTest"/>
        </classes>
    </test>
</suite>
